[Unit]
Description=USB/IP USB Sharing
#Requires=networking.service
After=networking.service
[Service]
ExecStartPre=/sbin/modprobe usbip_host
ExecStart=/sbin/usbipd
Type=idle
[Install]
WantedBy=multi-user.target
