teamcity_user = quartermaster
teamcity_password = 
teamcity_host = https://teamcity.example.com
SECRET_KEY = *******REPLACE WITH REAL RANDOMLY GENERATED VALUE*******
RESERVATION_MAX_MINUTES = 10
RESERVATION_CHECKIN_TIMEOUT_MINUTES = 5
SSH_USERNAME = quartermaster
SSH_PRIVATE_KEY_FILE = /ssh_private_key
LDAP_BIND_USER = CN=quartermaster,OU=People,DC=example,DC=com
LDAP_BIND_PASSWORD = 
LDAP_SERVER_URI = ldap://ldap.example.co
LDAP_SUBTREE = OU=People,DC=example,DC=com
SERVER_BASE_URL = https://quartermaster.example.co
TEAMCITY_RESERVATION_USERNAME = teamcity
ENABLED_USB_DRIVERS=VirtualHere,UsbipOverSSH
; currently supported CI system is `teamcity`
ENABLED_CI=
