[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
pytest = "*"
pytest-django = "*"

[packages]
django = "*"
huey = "*"
requests = "*"
django-bootstrap4 = "*"
paramiko = "*"
redis = "*"
gunicorn = "*"
djangorestframework = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.8"
