{% extends "base_template.html" %}
{% block body %}
    <ul class="list-group">
        {% for resource in resources %}
            <li class="list-group-item">
                <details>
                    <summary>{{ resource }}</summary>
                    <p> {{ resource.description }}</p>
                    <ul class="list-group">
                        {% for device in resource.device_set.all %}
                            <li class="list-group-item">
                                {{ device.name }} Driver={{ device.driver }} Online={{ device.online }}
                            </li>
                        {% endfor %}
                    </ul>
                </details>
                {% if resource.user == user %}
                    Reservation expires at {{ resource.reservation_expiration }}
                    <div><a href="{% url 'gui:view_reservation' resource_pk=resource.pk %}">See your reservation</a></div>
                {% elif resource.user %}
                    <div>In use by {{ resource.user.username }} for {{ resource.used_for }}</div>
                    <div>Reservation expires at {{ resource.reservation_expiration }}</div>
                {% else %}
                    <form action="{% url 'gui:view_reservation' resource_pk=resource.pk %}" method="post">
                        {% csrf_token %}
                        {% if resource.is_online and resource.enabled %}
                            <button type="submit" class="btn btn-primary mb-2">Reserve</button>
                        {% else %}
                            <button type="submit" disabled="true" class="btn btn-primary mb-2">Reserve</button>
                            {% if not resource.is_online %}
                                Offline
                            {% endif %}
                            {% if not resource.enabled %}
                                Disabled
                            {% endif %}
                        {% endif %}
                    </form>
                {% endif %}

            </li>
        {% empty %}
            No Quartermaster resources configured
        {% endfor %}
    </ul>
{% endblock %}
